@{
    ViewData["Title"] = "Aqui estão os procedimento bancarios";
}
<h1>@ViewData["Title"]</h1>

<p>Estou apenas fazendo um teste</p>
<ul>
    <li>
        Restauração
    </li>
    <li>
        Limpeza Simples
    </li>
    <p>Confira as dicas das nossas clientes.</p>
    <ul>
        <li>Emerson fez uma limpeza simples</li>
        <li>FERNANDO FEZ OUTRA Limpeza</li>
    </ul>
</ul>
<BR></BR>
Confira nossos depoimentos de colla, <a href="/Home/Procedimentos"> clicando aqui</a>.