@{
    ViewData["Title"] = "Aqui estão os procedimento bancarios";
}
<h1>@ViewData["Title"]</h1>

<p>Estou apenas fazendo um teste</p>
<ul>
    <li>
        Restauração
    </li>
    <li>
        Limpeza Simples
    </li>
</ul>